{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('styles/css/home.css') }}">
{% endblock %}

{% block content %}
  <div class="banner">
    <div class="logo-pink">
      <img class="limas-img" src="{{ asset('img/home/limas.svg') }}" />
      <img src="{{ asset('img/home/logo_pink.svg') }}" />
    </div>
    <div class="eco-wand">
      <img width="385" src="{{ asset('img/home/home_01.png') }}" />
    </div>
  </div>
  <ul class="products">
    <li><img height="180" src="{{ asset('img/home/home_02.png') }}" /></li>
    <li><img height="180" src="{{ asset('img/home/home_03.png') }}" /></li>
    <li><img height="180" src="{{ asset('img/home/home_04.png') }}" /></li>
  </ul>
{% endblock %}
