{% extends 'base.html.twig' %}

{% block title %}Productos{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('styles/css/home.css') }}">
{% endblock %}

{% block content %}
  <div class="products">
    <p>
      <a href=""></a>
    </p>
    <ul>
      <li>
        <img src="{{ asset('img/products/catalogo-01.png') }}">
      </li>
      <li>
        <img src="{{ asset('img/products/catalogo-02.png') }}">
      </li>
      <li>
        <img src="{{ asset('img/products/catalogo-03.png') }}">
      </li>
      <li>
        <img src="{{ asset('img/products/catalogo-04.png') }}">
      </li>
      <li>
        <img src="{{ asset('img/products/catalogo-05.png') }}">
      </li>
      <li>
        <img src="{{ asset('img/products/catalogo-06.png') }}">
      </li>
      <li>
        <img src="{{ asset('img/products/catalogo-07.png') }}">
      </li>
      <li>
        <img src="{{ asset('img/products/catalogo-08.png') }}">
      </li>
      <li>
        <img src="{{ asset('img/products/catalogo-09.png') }}">
      </li>
      <li>
        <img src="{{ asset('img/products/catalogo-10.png') }}">
      </li>
      <li>
        <img src="{{ asset('img/products/catalogo-11.png') }}">
      </li>
      <li>
        <img src="{{ asset('img/products/catalogo-12.png') }}">
      </li>
      <li>
        <img src="{{ asset('img/products/catalogo-13.png') }}">
      </li>
      <li>
        <img src="{{ asset('img/products/catalogo-14.png') }}">
      </li>
      <li>
        <img src="{{ asset('img/products/catalogo-15.png') }}">
      </li>
    </ul>
  </div>  
{% endblock %}
